<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/rest/assets/common/js/jquery-3.2.1.min.js" type="application/javascript"></script>
</head>
<body>
    text
<script>
    var a = {a:"前端中文"};
    $.ajax({
        url:"/rest/get",
        type:"POST",
        contentType:"application/json;charset=utf-8",
        data:JSON.stringify(a),
        dataType:"json",
        success:function(data){
            console.log("success!");
            console.log(data);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
            console.log(errorThrown);
        }
    });
</script>
</body>
</html>